@font-face {
  font-family: 'ticket_to_the_starregular';
  src: url('ticket_to_the_star-webfont.woff2') format('woff2'),
       url('ticket_to_the_star-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 500px){
  #players-moves-container{
  flex-direction: column;
  }
  #what-player-chooses{
    flex-direction: column;
  }
}

body{
  background-color:#010326;
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ), url("background.png");
  background-size: cover;
  color: white;
  font-size: 30px;
  padding: 5%;


}
h1 {
  font-family: 'ticket_to_the_starregular';
  text-align: center;
  margin: 20% 0 20% 0;
  
}

.intro-text{
  text-align: center;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.choice-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  
}
.choice {
  font-size: 50px;
  padding: 50px;
  margin: 14px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 100px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#playerChoiceScissors {
  background-color: #0367A6;
}
#playerChoicePaper {
  background-color: #025928
}
#playerChoiceRock {
  background-color:#F2811D;
}

.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players-moves-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.what-player-chooses{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:calc();
  border: 5px dotted #F2811D;
  border-radius: 40px;
  margin: 14px;
  padding: 25px;
}

.what-computer-chooses{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:calc();
  border: 5px dotted #F2811D;
  border-radius: 40px;
  margin: 14px;
  padding: 25px;
}

.round-verdict-container{
  background-color:calc();
  border: 5px dotted #F2811D;
  border-radius: 40px;
  margin: 14px;
  padding: 25px;
}

.score-container{
background-color:calc();
border: 5px dotted #F2522E;
border-radius: 40px;
margin: 14px;
padding: 25px;

}

#010326,
#0367A6,
#025928,
#F2811D,
#F2522E,
