@font-face {
  font-family: 'ticket_to_the_starregular';
  src: url('ticket_to_the_star-webfont.woff2') format('woff2'),
       url('ticket_to_the_star-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
 }

 body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("background.png") #001425;
  background-size: auto;
  color: white;
  font-size: 30px;
  padding: 5%;
}



h1 {
  font-family: 'ticket_to_the_starregular';
  text-align: center;
  margin: 10% 0 10% 0;

  
}

.intro-text{
  text-align: center;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.choice-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  
}
.choice {
  font-size: 300%;
  padding: 4%;
  margin: 3%;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.choice:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#playerChoiceScissors {
  background-color: #0367A6;
}
#playerChoicePaper {
  background-color: #025928
}
#playerChoiceRock {
  background-color:#F2811D;
}

.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players-moves-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.what-computer-and-player-chooses{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background-color:calc();
  border: 5px dotted #F2811D;
  border-radius: 40px;
  margin: 14px;
  padding: 25px;
  
}

.moves-container-text{
  margin:0

}
.round-verdict-container{
  background-color:calc();
  border: 5px dotted #F2811D;
  border-radius: 40px;
  margin: 14px;
  padding: 25px;
}

.score-container{
background-color:calc();
border: 5px dotted #F2522E;
border-radius: 40px;
margin: 14px;
padding: 25px;
}

.fade-in-text-h1 {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.start-element {
  text-align: center;
}

#buttonToStart{
  padding: 20px;
  border: 1px solid white;
  border-radius: 40px;
  background-color:transparent;
  color: white;
  font-size: large;
  
}
.a-of-start{
  text-decoration: none;
  color: white;
}

#buttonToStart:hover { 
  border: 1px solid #F2522E;
  color: #F2522E;
}

#buttonToStart:active {  
  border: 1px solid #0367A6;
  color: #0367A6;}

#game {
  display: none;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

